body {
    font-family: 'Kumbh Sans', sans-serif;
}

@media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.d-flex .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

@media all and (min-width:991px) {  
  .dropdown:after{
      content: ''; 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity .15s ease-in-out;
      opacity: 0;
      visibility:hidden;
      background-color: rgba(0,0,0,.7);
      pointer-events: none;
  }
  .dropdown.show .nav-link{
	position:relative;
	z-index:12;
  }
  .dropdown.show:after{
	z-index:10; opacity:1; 
	visibility:visible;
	position: fixed;
  }
}

.underline-fill {
	border: 2px solid #FF9900;
	width: 50%;
}

.underline-dummy {
	border: 2px solid transparent;
}

.img-category {
	width: 128px;
	border-radius: 50%;
}

.star-rating img {
	width: 16px;
}

.secondary-text {
	font-weight: 100;
	color: #4F4F4F;
}